* {}

main {
  display: flex;
  justify-content: center;
}

article {
  padding: 1em;
  border: 1px solid gray;
  margin: 40px;
}

aside {
  height: 200px;
  width: 300px;
  padding: 1em;
  border: 1px solid gray;
  margin: 40px;
}

body {
  margin: 0;
  width: 100%;
  font-family: system-ui;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  width: 100%;
  /* border-bottom: 1px solid rgb(101, 98, 98); */
  /* border-top: 1px solid black; */
  justify-content: space-around;
  padding: 1.2em 0;
  margin: 0;
  position: sticky;
  background-color: rgb(150, 176, 150);
  color: white;
  top: -1px;
}

a {
  color: white;

  font-size: 32px;
  /* padding: 5px; */
  text-decoration: none;
}

a:hover {
  color: rgb(240, 238, 238);
  text-decoration: underline;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  row-gap: 20px;
}

section {
  padding-left: 10%;
}

section p {
  font-weight: 300;
  font-size: 20px;
}

footer {
  border-top: 1px solid #a1a1a1;
  padding: 0.25em 0.5em;

}

footer section {
  font-size: 20px;
}

footer a {
  color: black;
}

mark {
  background-color: rgb(196, 234, 196);
}

mark:hover {
  cursor: pointer;
  color: rgb(31, 30, 30);
  background-color: rgb(154, 185, 154);
}